<a href="https://colab.research.google.com/github/ShubhamKatyaan/MachineLearning/blob/master/Multicolinearty_using_VIF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [36]:
boston = load_boston()

In [37]:
X = pd.DataFrame(data=boston.data,columns=boston.feature_names)

Y = pd.DataFrame(data=boston.target,columns=['MEDV'])

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=9)

lin_reg_mod = LinearRegression()

lin_reg_mod.fit(X_train, y_train)

pred = lin_reg_mod.predict(X_test)

test_set_rmse = (np.sqrt(mean_squared_error(y_test, pred)))

test_set_r2 = r2_score(y_test, pred)

In [39]:
print(test_set_rmse)
print(test_set_r2)

4.865862747837348
0.7660111574904017

In [40]:
def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [42]:
calc_vif(X)

   variables        VIF
0       CRIM   2.030010
1         ZN   2.801876
2       CHAS   1.138427
3        NOX  61.112413
4         RM  56.324207
5        AGE  19.011196
6        DIS  13.478955
7        RAD  13.950132
8        TAX  49.508486
9    PTRATIO  76.001376
10         B  19.929470

In [43]:
X = X.drop(['PTRATIO'], axis=1)
calc_vif(X)

  variables        VIF
0      CRIM   2.018096
1        ZN   2.372468
2      CHAS   1.125822
3       NOX  59.845947
4        RM  48.466303
5       AGE  18.567358
6       DIS  10.503338
7       RAD  13.933923
8       TAX  45.443697
9         B  18.606934

In [44]:
X = X.drop(['NOX'], axis=1)
calc_vif(X)

  variables        VIF
0      CRIM   2.016574
1        ZN   2.343367
2      CHAS   1.121068
3        RM  37.651112
4       AGE  14.638683
5       DIS  10.396660
6       RAD  13.667533
7       TAX  37.187754
8         B  18.357158

In [45]:
X = X.drop(['RM'], axis=1)
calc_vif(X)

  variables        VIF
0      CRIM   2.015047
1        ZN   2.309313
2      CHAS   1.110445
3       AGE  11.883573
4       DIS   8.252641
5       RAD  13.621769
6       TAX  35.379331
7         B  14.032080

In [46]:
X = X.drop(['TAX'], axis=1)
calc_vif(X)

  variables        VIF
0      CRIM   2.014672
1        ZN   2.288920
2      CHAS   1.102331
3       AGE   8.665894
4       DIS   7.932866
5       RAD   4.008669
6         B  13.072165

In [47]:
X = X.drop(['B'], axis=1)
calc_vif(X)

  variables       VIF
0      CRIM  1.980840
1        ZN  2.286918
2      CHAS  1.094397
3       AGE  4.617577
4       DIS  4.166711
5       RAD  3.994908

In [52]:
X2 = X.copy()
Y2 = pd.DataFrame(data=boston.target,columns=['MEDV'])

In [54]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, Y2, test_size = 0.2, random_state=9)

lin_reg_mod2 = LinearRegression()

lin_reg_mod2.fit(X2_train, y2_train)

pred2 = lin_reg_mod2.predict(X2_test)

test_set_rmse_2 = (np.sqrt(mean_squared_error(y2_test, pred)))

test_set_r2_2 = r2_score(y2_test, pred2)

In [55]:
print(test_set_rmse_2)
print(test_set_r2_2)

4.865862747837348
0.4004928022201226